In [1]:
import pandas as pd

data = pd.read_csv('asuransi_mobil.csv')
print(data)

      Unnamed: 0  IDENTITAS                  UMUR JENIS_KELAMIN  \
0              0     569520   lebih dari 65 tahun     perempuan
1              1     750365  kurang dari 25 tahun     laki-laki
2              2     199901  kurang dari 25 tahun     perempuan
3              3     478866  kurang dari 25 tahun     laki-laki
4              4     731664    antara 25-40 tahun     laki-laki
...          ...        ...                   ...           ...
9995        9995     323164    antara 25-40 tahun     perempuan
9996        9996     910346    antara 25-40 tahun     perempuan
9997        9997     468409    antara 25-40 tahun     laki-laki
9998        9998     903459    antara 25-40 tahun     perempuan
9999        9999     442696    antara 25-40 tahun     perempuan

      PENGALAMAN_MENGEMUDI   PENDIDIKAN        PENGHASILAN  SKOR_KREDIT  \
0     kurang dari 10 tahun          SMA  lebih dari 3x UMR     0.629027
1     kurang dari 10 tahun    tidak ada    kurang dari UMR     0.357757
2     kurang dari 10 tahun          SMA    antara 1-2x UMR     0.493146
3     kurang dari 10 tahun  universitas    antara 1-2x UMR     0.206013
4       antara 10-20 tahun    tidak ada    antara 1-2x UMR     0.388366
...                    ...          ...                ...          ...
9995    antara 10-20 tahun  universitas  lebih dari 3x UMR     0.582787
9996    antara 10-20 tahun    tidak ada    antara 2-3x UMR     0.522231
9997  kurang dari 10 tahun          SMA    antara 2-3x UMR     0.470940
9998    antara 10-20 tahun          SMA    kurang dari UMR     0.364185
9999  kurang dari 10 tahun    tidak ada    antara 1-2x UMR     0.435225

     PEMILIK_KENDARAAN TAHUN_PRODUKSI         STATUS       ANAK  KODE_POS  \
0                   ya   setelah 2020  belum menikah        ada     10238
1                tidak   sebelum 2020  belum menikah  tidak ada     10238
2                   ya   sebelum 2020  belum menikah  tidak ada     10238
3                   ya   sebelum 2020  belum menikah        ada     32765
4                   ya   sebelum 2020  belum menikah  tidak ada     32765
...                ...            ...            ...        ...       ...
9995                ya   sebelum 2020  belum menikah  tidak ada     10238
9996                ya   setelah 2020  belum menikah        ada     32765
9997                ya   sebelum 2020  belum menikah        ada     10238
9998             tidak   sebelum 2020  belum menikah        ada     10238
9999                ya   sebelum 2020        menikah        ada     10238

      KM_PER_TAHUN JENIS_KENDARAAN  TILANG_NGEBUT  TILANG_MABUK  \
0          12000.0        keluarga              0             0
1          16000.0        keluarga              0             0
2          11000.0        keluarga              0             0
3          11000.0        keluarga              0             0
4          12000.0        keluarga              2             0
...            ...             ...            ...           ...
9995       16000.0        keluarga              0             0
9996           NaN        keluarga              1             0
9997       14000.0        keluarga              0             0
9998       13000.0        keluarga              2             0
9999       13000.0        keluarga              0             0

      KECELAKAAN_SEBELUMNYA  KLAIM
0                         0  tidak
1                         0     ya
2                         0  tidak
3                         0  tidak
4                         1     ya
...                     ...    ...
9995                      1  tidak
9996                      0  tidak
9997                      0  tidak
9998                      1     ya
9999                      0  tidak

[10000 rows x 19 columns]

In [6]:
data.head(100)

,Unnamed: 0,IDENTITAS,UMUR,JENIS_KELAMIN,PENGALAMAN_MENGEMUDI,PENDIDIKAN,PENGHASILAN,SKOR_KREDIT,PEMILIK_KENDARAAN,TAHUN_PRODUKSI,STATUS,ANAK,KODE_POS,KM_PER_TAHUN,JENIS_KENDARAAN,TILANG_NGEBUT,TILANG_MABUK,KECELAKAAN_SEBELUMNYA,KLAIM
0,0,569520,lebih dari 65 tahun,perempuan,kurang dari 10 tahun,SMA,lebih dari 3x UMR,0.629027,ya,setelah 2020,belum menikah,ada,10238,12000.0,keluarga,0,0,0,tidak
1,1,750365,kurang dari 25 tahun,laki-laki,kurang dari 10 tahun,tidak ada,kurang dari UMR,0.357757,tidak,sebelum 2020,belum menikah,tidak ada,10238,16000.0,keluarga,0,0,0,ya
2,2,199901,kurang dari 25 tahun,perempuan,kurang dari 10 tahun,SMA,antara 1-2x UMR,0.493146,ya,sebelum 2020,belum menikah,tidak ada,10238,11000.0,keluarga,0,0,0,tidak
3,3,478866,kurang dari 25 tahun,laki-laki,kurang dari 10 tahun,universitas,antara 1-2x UMR,0.206013,ya,sebelum 2020,belum menikah,ada,32765,11000.0,keluarga,0,0,0,tidak
4,4,731664,antara 25-40 tahun,laki-laki,antara 10-20 tahun,tidak ada,antara 1-2x UMR,0.388366,ya,sebelum 2020,belum menikah,tidak ada,32765,12000.0,keluarga,2,0,1,ya
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,95,883018,antara 40-65 tahun,laki-laki,kurang dari 10 tahun,SMA,antara 1-2x UMR,0.505790,ya,sebelum 2020,belum menikah,ada,10238,13000.0,keluarga,0,0,0,tidak
96,96,889355,antara 25-40 tahun,perempuan,antara 10-20 tahun,universitas,lebih dari 3x UMR,0.726818,ya,sebelum 2020,menikah,ada,10238,15000.0,keluarga,2,0,0,tidak
97,97,198273,lebih dari 65 tahun,laki-laki,antara 20-30 tahun,universitas,lebih dari 3x UMR,0.690442,ya,setelah 2020,menikah,ada,32765,9000.0,keluarga,8,0,2,tidak
98,98,197763,antara 40-65 tahun,laki-laki,antara 20-30 tahun,universitas,lebih dari 3x UMR,0.479677,tidak,setelah 2020,menikah,tidak ada,10238,14000.0,keluarga,1,0,2,tidak
99,99,55670,antara 25-40 tahun,laki-laki,antara 10-20 tahun,universitas,lebih dari 3x UMR,NaN,ya,setelah 2020,menikah,ada,10238,11000.0,keluarga,3,1,0,tidak

In [3]:
data.describe()

,Unnamed: 0,IDENTITAS,SKOR_KREDIT,KODE_POS,KM_PER_TAHUN,TILANG_NGEBUT,TILANG_MABUK,KECELAKAAN_SEBELUMNYA
count,10000.00000,10000.000000,9018.000000,10000.000000,9043.000000,10000.000000,10000.00000,10000.000000
mean,4999.50000,500521.906800,0.515813,19864.548400,11697.003207,1.482900,0.23920,1.056300
std,2886.89568,290030.768758,0.137688,18915.613855,2818.434528,2.241966,0.55499,1.652454
min,0.00000,101.000000,0.053358,10238.000000,2000.000000,0.000000,0.00000,0.000000
25%,2499.75000,249638.500000,0.417191,10238.000000,10000.000000,0.000000,0.00000,0.000000
50%,4999.50000,501777.000000,0.525033,10238.000000,12000.000000,0.000000,0.00000,0.000000
75%,7499.25000,753974.500000,0.618312,32765.000000,14000.000000,2.000000,0.00000,2.000000
max,9999.00000,999976.000000,0.960819,92101.000000,22000.000000,22.000000,6.00000,15.000000

In [4]:
# Melihat type data apakah berupa integer, bilangan desimal, atau data kategori
data.dtypes

Unnamed: 0                 int64
IDENTITAS                  int64
UMUR                      object
JENIS_KELAMIN             object
PENGALAMAN_MENGEMUDI      object
PENDIDIKAN                object
PENGHASILAN               object
SKOR_KREDIT              float64
PEMILIK_KENDARAAN         object
TAHUN_PRODUKSI            object
STATUS                    object
ANAK                      object
KODE_POS                   int64
KM_PER_TAHUN             float64
JENIS_KENDARAAN           object
TILANG_NGEBUT              int64
TILANG_MABUK               int64
KECELAKAAN_SEBELUMNYA      int64
KLAIM                     object
dtype: object

In [5]:
# mengecek apakah terdapat data yang kosong
data.isnull().sum()

Unnamed: 0                 0
IDENTITAS                  0
UMUR                       0
JENIS_KELAMIN              0
PENGALAMAN_MENGEMUDI       0
PENDIDIKAN                 0
PENGHASILAN                0
SKOR_KREDIT              982
PEMILIK_KENDARAAN          0
TAHUN_PRODUKSI             0
STATUS                     0
ANAK                       0
KODE_POS                   0
KM_PER_TAHUN             957
JENIS_KENDARAAN            0
TILANG_NGEBUT              0
TILANG_MABUK               0
KECELAKAAN_SEBELUMNYA      0
KLAIM                      0
dtype: int64

In [7]:
data_categorical =['SKOR_KREDIT','KM_PER_TAHUN']

In [8]:
data_drop = data.drop(data_categorical,axis=1)

In [9]:
data_drop.head()

,Unnamed: 0,IDENTITAS,UMUR,JENIS_KELAMIN,PENGALAMAN_MENGEMUDI,PENDIDIKAN,PENGHASILAN,PEMILIK_KENDARAAN,TAHUN_PRODUKSI,STATUS,ANAK,KODE_POS,JENIS_KENDARAAN,TILANG_NGEBUT,TILANG_MABUK,KECELAKAAN_SEBELUMNYA,KLAIM
0,0,569520,lebih dari 65 tahun,perempuan,kurang dari 10 tahun,SMA,lebih dari 3x UMR,ya,setelah 2020,belum menikah,ada,10238,keluarga,0,0,0,tidak
1,1,750365,kurang dari 25 tahun,laki-laki,kurang dari 10 tahun,tidak ada,kurang dari UMR,tidak,sebelum 2020,belum menikah,tidak ada,10238,keluarga,0,0,0,ya
2,2,199901,kurang dari 25 tahun,perempuan,kurang dari 10 tahun,SMA,antara 1-2x UMR,ya,sebelum 2020,belum menikah,tidak ada,10238,keluarga,0,0,0,tidak
3,3,478866,kurang dari 25 tahun,laki-laki,kurang dari 10 tahun,universitas,antara 1-2x UMR,ya,sebelum 2020,belum menikah,ada,32765,keluarga,0,0,0,tidak
4,4,731664,antara 25-40 tahun,laki-laki,antara 10-20 tahun,tidak ada,antara 1-2x UMR,ya,sebelum 2020,belum menikah,tidak ada,32765,keluarga,2,0,1,ya

In [10]:
data_drop.dtypes

Unnamed: 0                int64
IDENTITAS                 int64
UMUR                     object
JENIS_KELAMIN            object
PENGALAMAN_MENGEMUDI     object
PENDIDIKAN               object
PENGHASILAN              object
PEMILIK_KENDARAAN        object
TAHUN_PRODUKSI           object
STATUS                   object
ANAK                     object
KODE_POS                  int64
JENIS_KENDARAAN          object
TILANG_NGEBUT             int64
TILANG_MABUK              int64
KECELAKAAN_SEBELUMNYA     int64
KLAIM                    object
dtype: object

In [11]:
data_drop.isnull().sum()

Unnamed: 0               0
IDENTITAS                0
UMUR                     0
JENIS_KELAMIN            0
PENGALAMAN_MENGEMUDI     0
PENDIDIKAN               0
PENGHASILAN              0
PEMILIK_KENDARAAN        0
TAHUN_PRODUKSI           0
STATUS                   0
ANAK                     0
KODE_POS                 0
JENIS_KENDARAAN          0
TILANG_NGEBUT            0
TILANG_MABUK             0
KECELAKAAN_SEBELUMNYA    0
KLAIM                    0
dtype: int64

In [13]:
# Melihat apa saja isi dari kolom SKOR_KREDIT (data kategori yang tidak dapat dibandingkan)
data.SKOR_KREDIT.unique()

array([0.62902731, 0.35775712, 0.49314579, ..., 0.47094023, 0.36418478,
       0.43522478])

In [14]:
# KM_PER_TAHUN juga merupakan data ketegori yang tidak dapat dibandingkan
data.KM_PER_TAHUN.unique()

array([12000., 16000., 11000., 13000., 14000., 10000.,  8000.,    nan,
       18000., 17000.,  7000., 15000.,  9000.,  5000.,  6000., 19000.,
        4000.,  3000.,  2000., 20000., 21000., 22000.])

In [16]:
# Data UMUR masih bisa dilakukan perbandingan
data.UMUR.unique()

array(['lebih dari 65 tahun', 'kurang dari 25 tahun',
       'antara 25-40 tahun', 'antara 40-65 tahun'], dtype=object)

In [17]:
# Data PENDIDIKAN masih bisa dilakukan perbandingan
data.PENDIDIKAN.unique()

array(['SMA', 'tidak ada', 'universitas'], dtype=object)

In [20]:
# Melakukan mapping dari Pendidikan karena walaupun pendidikan merupakan data kategori, akan tetapi
# terdapat peningkatan dari SMA, tidak ada dan Universitas.
data['PENDIDIKAN'] = \
data['PENDIDIKAN'].map({'universitas':2,'SMA':1,'tidak ada':0})

In [21]:
# Untuk melihat apa aja isi dari kolom PENGHASILAN (merupakan data yang dapat dibandingkan)
data.PENGHASILAN.unique()

array(['lebih dari 3x UMR', 'kurang dari UMR', 'antara 1-2x UMR',
       'antara 2-3x UMR'], dtype=object)

In [22]:
data['PEMILIK_KENDARAAN'] = \
data['PEMILIK_KENDARAAN'].map({'tidak':0,'ya':1})

In [23]:
data.TAHUN_PRODUKSI.unique()

array(['setelah 2020', 'sebelum 2020'], dtype=object)

In [24]:
data['TAHUN_PRODUKSI'] = \
data['TAHUN_PRODUKSI'].map({'sebelum 2020':0,'setelah 2020':1})

In [25]:
data.STATUS.unique()

array(['belum menikah', 'menikah'], dtype=object)

In [26]:
data['STATUS'] = \
data['STATUS'].map({'belum menikah':0,'menikah':1})

In [27]:
data.ANAK.unique()

array(['ada', 'tidak ada'], dtype=object)

In [28]:
data['ANAK'] = \
data['ANAK'].map({'tidak ada':0,'ada':1})

In [29]:
data.JENIS_KENDARAAN.unique()

array(['keluarga', 'sport'], dtype=object)

In [30]:
data['JENIS_KENDARAAN'] = \
data['JENIS_KENDARAAN'].map({'keluarga':0,'sport':1})

In [31]:
data.KLAIM.unique()

array(['tidak', 'ya'], dtype=object)

In [32]:
data['KLAIM'] = \
data['KLAIM'].map({'tidak':0,'ya':1})

In [33]:
data.describe()

,Unnamed: 0,IDENTITAS,PENDIDIKAN,SKOR_KREDIT,PEMILIK_KENDARAAN,TAHUN_PRODUKSI,STATUS,ANAK,KODE_POS,KM_PER_TAHUN,JENIS_KENDARAAN,TILANG_NGEBUT,TILANG_MABUK,KECELAKAAN_SEBELUMNYA,KLAIM
count,10000.00000,10000.000000,0.0,9018.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,9043.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000
mean,4999.50000,500521.906800,NaN,0.515813,0.697000,0.303300,0.498200,0.688800,19864.548400,11697.003207,0.047700,1.482900,0.23920,1.056300,0.313300
std,2886.89568,290030.768758,NaN,0.137688,0.459578,0.459707,0.500022,0.463008,18915.613855,2818.434528,0.213141,2.241966,0.55499,1.652454,0.463858
min,0.00000,101.000000,NaN,0.053358,0.000000,0.000000,0.000000,0.000000,10238.000000,2000.000000,0.000000,0.000000,0.00000,0.000000,0.000000
25%,2499.75000,249638.500000,NaN,0.417191,0.000000,0.000000,0.000000,0.000000,10238.000000,10000.000000,0.000000,0.000000,0.00000,0.000000,0.000000
50%,4999.50000,501777.000000,NaN,0.525033,1.000000,0.000000,0.000000,1.000000,10238.000000,12000.000000,0.000000,0.000000,0.00000,0.000000,0.000000
75%,7499.25000,753974.500000,NaN,0.618312,1.000000,1.000000,1.000000,1.000000,32765.000000,14000.000000,0.000000,2.000000,0.00000,2.000000,1.000000
max,9999.00000,999976.000000,NaN,0.960819,1.000000,1.000000,1.000000,1.000000,92101.000000,22000.000000,1.000000,22.000000,6.00000,15.000000,1.000000

In [34]:
data.columns

Index(['Unnamed: 0', 'IDENTITAS', 'UMUR', 'JENIS_KELAMIN',
       'PENGALAMAN_MENGEMUDI', 'PENDIDIKAN', 'PENGHASILAN', 'SKOR_KREDIT',
       'PEMILIK_KENDARAAN', 'TAHUN_PRODUKSI', 'STATUS', 'ANAK', 'KODE_POS',
       'KM_PER_TAHUN', 'JENIS_KENDARAAN', 'TILANG_NGEBUT', 'TILANG_MABUK',
       'KECELAKAAN_SEBELUMNYA', 'KLAIM'],
      dtype='object')

In [35]:
data.dtypes

Unnamed: 0                 int64
IDENTITAS                  int64
UMUR                      object
JENIS_KELAMIN             object
PENGALAMAN_MENGEMUDI      object
PENDIDIKAN               float64
PENGHASILAN               object
SKOR_KREDIT              float64
PEMILIK_KENDARAAN          int64
TAHUN_PRODUKSI             int64
STATUS                     int64
ANAK                       int64
KODE_POS                   int64
KM_PER_TAHUN             float64
JENIS_KENDARAAN            int64
TILANG_NGEBUT              int64
TILANG_MABUK               int64
KECELAKAAN_SEBELUMNYA      int64
KLAIM                      int64
dtype: object

In [ ]:
data_categorical =['KM_PER_TAHUN','SKOR_KREDIT']
data_numeric =['UMUR','PENDIDIKAN','PENGALAMAN_MENGEMUDI ','KECELAKAAN_SEBELUMNYA','PENGHASILAN']
data_binary = ['JENIS_KENDARAAN','ANAK','TAHUN_PRODUKSI','STATUS','JENIS_KELAMIN']
data_target = ['KLAIM']